

<div class="carousel-about">
    <img src="img/about13.webp" class="d-block w-100" alt="...">
    <div class="carousel-cap d-md-block">
      <h1 class="display-4 font-weight-bold ">About <span class="text-danger">Us</span</h1>
    </div>
  </div>
  <section class="about my-5" id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 py-3">
        <h1>Who we are?</h1>
        <p class="p-2">
          In this technological era, you can now buy pet supplies online. We offer high-quality, luxurious, and affordable pet accessories across Pakistan. So what are you waiting for? Explore our wide range and buy online pet supplies in Pakistan!
        </p>
        <button type="button" class="btn btn-info mb-5">Our Team</button>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Our Experience in field
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                We have been in business since <strong>10 years</strong>. We provide unique pet furniture to refresh your home decor with colorful and spirited ideas within an affordable range.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Our Concern for Customers
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                The essential element of every pet's home is their accessories, and it's the first thing to be considered while planning your pet's living space. Your pet's accessories need to be practical and stylish, as they reflect your care and attention to detail. They also create the first impression of your pet's environment, and we are here to make it look comfortable, luxurious, and stylish.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Qualitative Online Services
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Whether it's sculptural, standalone, or geometric pet furnishings, or contemporary designs akin to Knoll or Kartell-style furniture for pets, our pet shop offers a variety of options. We provide a wide range of stylish and modern accessories specifically tailored for pets, ensuring both functionality and aesthetic appeal for your beloved animal companions.; Pet<span class="text-primary">Mania</span> provides excellent pet products online, be it in any city of Pakistan.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
      <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-end mt-5" data-aos="fade-right" data-aos-offset="200">
          <img src="img/9.jpg" class="img-fluid img-thumbnail">
  
    </div>
  </div>
  </div>
  </section>