<div class="carousel-form">
  <img src="img/12.png" class="d-block w-100" alt="..." />
  <div class="carousel-cap4 d-md-block">
    <h1 class="display-5 font-weight-bold">
      Happy to have u as a Part of our Family!
    </h1>
  </div>
</div>

<div class="container py-5 mt-5" id="log-form">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h1 class="card-title text-center py-5 mb-4 bg-info text-danger">
          LOGIN
        </h1>
        <div class="card-body">
          <!-- <form id="login-form" onsubmit="redirectToHomepage(); return false;"> -->
          <form id="login-form" method="post" action="/login">
            <div class="mb-3">
              <label for="login-email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="login-email"
                name="login-email"
                required
                placeholder="Enter email"
              />
            </div>
            <div class="mb-3">
              <label for="login-password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="login-password"
                name="login-password"
                required
                placeholder="Enter Password"
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Log In</button>
            </div>
            <div class="text-center mt-3">
              <a href="#" class="text-muted text-decoration-none"
                >Forgot Password?</a
              >
            </div>
            <div class="text-center mt-3">
              Don't have an account?
              <a
                href="javascript:void(0);"
                class="text-decoration-none"
                id="show-signup"
                onclick="window.location.href = '/register';"
                >Sign up!</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 mt-5" id="sign-form" style="display: none">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h1 class="card-title text-center py-5 mb-2 bg-info text-danger">
          SIGN UP
        </h1>
        <div class="card-body">
          <p class="text-center mb-5">
            To become a part of our community, Please Sign Up using your
            personal information.
          </p>
          <!-- <form id="signup-form" onsubmit="redirectToHomepage(); return false;"> -->
          <form id="signup-form">
            <div class="mb-3">
              <label for="signup-username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="signup-username"
                name="signup-username"
                required
                placeholder="Enter a Username"
              />
            </div>

            <div class="mb-3">
              <label for="signup-email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="signup-email"
                name="signup-email"
                required
                placeholder="Enter a valid email"
              />
            </div>
            <div class="mb-3">
              <label for="signup-password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="signup-password"
                name="signup-password"
                required
                placeholder="Enter a Password"
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <div class="text-center mt-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="agree"
                name="agree"
                required
              />
              <label class="form-check-label" for="agree">
                I agree to the
                <a href="#" class="text-success text-decoration-none"
                  >Terms & Conditions.</a
                >
                <div id="agree-error" class="text-danger"></div>
              </label>
            </div>
            <div class="text-center mt-3">
              Already have an account?
              <a
                href="javascript:void(0);"
                class="text-decoration-none"
                id="show-login"
                onclick="showLoginForm()"
                >Login!</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
  <script>
    function showLoginForm() {
      const signUpForm = document.getElementById("sign-form");
      signUpForm.style.display = "none";
      const loginForm = document.getElementById("log-form");
      loginForm.style.display = "block";
    }
  
  
    function showSignUpForm() {
      const loginForm = document.getElementById("log-form");
      loginForm.style.display = "none";
      const signUpForm = document.getElementById("sign-form");
      signUpForm.style.display = "block";
      window.location.href = "/register";
    }
  </script> -->
